.tableView {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.communityCards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 60px));
  z-index: 5;
}

.streetIndicator {
  position: absolute;
  top: 20px;
  right: 20px;
}

.players {
  position: relative;
  width: 100%;
  height: 100%;
}

.playerSlot {
  position: absolute;
  transition: all 0.3s ease;
}

.playerSlot.active {
  transform: scale(1.05);
}

.playerSlot.folded {
  opacity: 0.5;
}

.playerSlot:nth-child(1) { top: 10%; left: 50%; transform: translateX(-50%); }
.playerSlot:nth-child(2) { top: 25%; left: 10%; }
.playerSlot:nth-child(3) { bottom: 25%; left: 10%; }
.playerSlot:nth-child(4) { bottom: 10%; left: 30%; }
.playerSlot:nth-child(5) { bottom: 10%; right: 30%; }
.playerSlot:nth-child(6) { bottom: 25%; right: 10%; }
.playerSlot:nth-child(7) { top: 25%; right: 10%; }

